@import "variables";
@import "functions";
@import "breaker";
@import "background-gradients";

/**
 * 
 * Ring
 *
 * @author Christian Micklisch <christian.micklisch@successwithsos.com>
 */

/**
 * Applies mixins for the ring, its contents, and its breaker.
 * 
 * @param  $size:                    $default-ring-size                    The overall size of the ring.
 * @param  $background-start:        $default-ring-background-start        The starting color of the ring.
 * @param  $background-stop:         $default-ring-background-stop         The ending color of the ring.
 * @param  $circle-background-start: $default-ring-circle-background-start The background color of the start of the circle.
 * @param  $circle-background-mid:   $default-ring-circle-background-mid   The middle color of the rings background.
 * @param  $circle-background-stop:  $default-ring-circle-background-stop  The ending color ot the rings background.
 * @param  $circle-percentage-stop:  $default-ring-circle-percentage-stop  Where the background gradient of the ring should stop.
 * @param  $font-size:               $default-ring-font-size               The counter font size.
 * @param  $font-color:              $default-ring-font-color              The color of the ring content.
 * @param  $breaker-start-color:     $default-ring-breaker-start-color     The starting color of the breaker's gradient.
 * @param  $breaker-end-color:       $default-ring-breaker-end-color       The stopping color fo the breaker's gradient.
 */
@mixin royal-ring(
    $size: $default-ring-size,
    $background-start: $default-ring-background-start,
    $background-stop: $default-ring-background-stop,
    $circle-background-start: $default-ring-circle-background-start,
    $circle-background-mid: $default-ring-circle-background-mid,
    $circle-background-stop: $default-ring-circle-background-stop,
    $circle-percentage-stop: $default-ring-circle-percentage-stop,
    $font-size: $default-ring-font-size,
    $font-color: $default-ring-font-color,
    $breaker-start-color: $default-ring-breaker-start-color,
    $breaker-end-color: $default-ring-breaker-end-color
) {
    
    @include ring(
        $size,
        $background-start,
        $background-stop,
        $circle-background-start,
        $circle-background-mid,
        $circle-background-stop,
        $circle-percentage-stop
    );

    @include ring-contents(
        get-inner-size($size),
        $font-size,
        $font-color
    );

    @include ring-breaker(
        $breaker-start-color, 
        $breaker-end-color,
        get-inner-size($size) - 40px
    );
}


/**
 * Gives the royal ring the inner and outer ring, a starting point of where the ring is created and
 * applies styling to the rings and their background. 
 * 
 * @param  $size:                    $default-ring-size                    The overall size of the ring.
 * @param  $background-start:        $default-ring-background-start        The starting color of the ring.
 * @param  $background-stop:         $default-ring-background-stop         The ending color of the ring.
 * @param  $circle-background-start: $default-ring-circle-background-start The background color of the start of the circle.
 * @param  $circle-background-mid:   $default-ring-circle-background-mid   The middle color of the rings background.
 * @param  $circle-background-stop:  $default-ring-circle-background-stop  The ending color ot the rings background.
 * @param  $circle-percentage-stop:  $default-ring-circle-percentage-stop  Where the background gradient of the ring should stop.
 */
@mixin ring(
    $size: $default-ring-size,
    $background-start: $default-ring-background-start,
    $background-stop: $default-ring-background-stop,
    $circle-background-start: $default-ring-circle-background-start,
    $circle-background-mid: $default-ring-circle-background-mid,
    $circle-background-stop: $default-ring-circle-background-stop,
    $circle-percentage-stop: $default-ring-circle-percentage-stop
) {

    &__ring-start {
        border-radius: 50%;
        display: inline-block;

        @include background-gradient-top-down($background-start, $background-stop);
    }

    &__ring-start-inner {
        margin: $ring-margin;
        position: relative;
    }

    &__counter {
        margin: $ring-margin;
        position: relative;

        &__inner-ring,
        &__outer-ring {
            border-radius: 50%;

            @include background-gradient-slanted($circle-background-start, $circle-background-mid, $circle-background-stop, 49%, $circle-percentage-stop);
        }

        &__outer-ring {
            position: absolute;
        }

        &__inner-ring {
            position: absolute;
        }
    }

    @include ring-sizing($size);
}

/**
 * The sizing of the ring.
 *
 * Sets the size of the ring from the given size of the current ring and the outer
 * and inner ring percentages.
 * 
 * @param  $size: $default-ring-size The overall size of the ring.
 */
@mixin ring-sizing($size) {
    $inner-size: get-inner-size($size);

    &__ring-start-inner {
        height: $inner-size - ($ring-margin * 2);
        width: $inner-size - ($ring-margin * 2);
    }

    &__counter {

        height: $size - ($ring-margin * 2);
        width: $size - ($ring-margin * 2);

        &__outer-ring {
            height: $outer-ring-size;
            right: #{(100 - $outer-ring-size) / 2};
            top: #{(100 - $outer-ring-size) / 2};
            width: $outer-ring-size;
        }

        &__inner-ring {
            height: $inner-ring-size;
            right: #{(100 - $inner-ring-size) / 2};
            top: #{(100 - $inner-ring-size) / 2};
            width: $inner-ring-size;
        }
    }
}

/**
 * Gives sizing and structure to the counter, breaker, and description of the rings content.
 * 
 * @param  $size:       $default-ring-size       The overall size of the ring.
 * @param  $font-size:  $default-ring-font-size  The counter font size.
 * @param  $font-color: $default-ring-font-color The color of the ring content.
 */
@mixin ring-contents(
    $size: $default-ring-size,
    $font-size: $default-ring-font-size,
    $font-color: $default-ring-font-color
) {
    $padding-top: get-breaker-padding($size, $font-size);
    $breaker-padding-bottom: unset;
    $breaker-padding-top: 3px;

    &__ring-contents {
        color: $font-color;
        padding-top: $padding-top;

        &__counter {
            font-size: $font-size;
            font-weight: 400;
            line-height: 50px;
        }

        &__breaker {
            padding-bottom: $breaker-padding-bottom;
            padding-top: $breaker-padding-top;
        }

        &__description {
            padding-top: 5px;
            font-size: $font-size * 0.33;
            font-weight: 300;
            line-height: $font-size * 0.35;
        }
    }   
}

/**
 * Adds the breaker into the ring-contents.
 * 
 * @param  $start-color: $default-ring-breaker-start-color         The starting color of the breaker.
 * @param  $end-color:   $default-ring-breaker-end-color           The ending color of the breaker, before becoming transparent.
 * @param  $width:       get-inner-size($default-ring-size) - 40px The total width of the breaker.
 */
@mixin ring-breaker(
    $start-color: $default-ring-breaker-start-color,
    $end-color: $default-ring-breaker-end-color,
    $width: get-inner-size($default-ring-size) - 40px
) {
    &__ring-contents {
        @include breaker($start-color, $end-color, $width);
    }   
}